.list-group-item{
	border:none !important;
}

.nav-item{
	margin-left: 5px;
    margin-right: 5px;
}

.nav-tabs{
	border-bottom:none !important;
}

.card{
	background: #e7eeef5c;
}

.alert{
	text-align: center;
}