<html>
    <head>
        <title>DP</title>
        <link href="{{ url_for('assets', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>

        {% block content %}
        {% endblock %}


        <script src="{{ url_for('assets', path='/js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('js', path='main.js') }}"></script>
        <script src="{{ url_for('assets', path='/models/BouncingBall/BouncingBall.js') }}"></script>
        <script>
            console.log({{somevar}});
            console.log({{dataSets|safe}})
        </script>
    </body>
</html>