<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>

            <div class="bg-success font-weight-bold">
                {% if msg %}
                  {{msg}}
                {% endif %}
            </div>

            <br>

            <form action="/auth/login" method="POST">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        {% if msg %}
        <br>
        <button type="button" id="site" class="btn btn-success">Site with models</button>
        <div>
            <br>
            <button type="button" id="matlab-websocket" class="btn btn-success">Matlab WebSocket</button>
        </div>

        <div>
            <br>
            <button type="button" id="logout" class="btn btn-danger">Logout</button>
        </div>

        {% endif %}

        </div>

        <script>
            $('#site').on("click", function(){
                location.href = 'https://apis.iolab.sk/fmuJS/model-info'
            })

            $('#matlab-websocket').on("click", function(){
                location.href = 'https://apis.iolab.sk/matlab/websocket/site'
            })

            $('#logout').on("click", function(){
                console.log(document.cookie);
                document.cookie = "UserId=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                location.href = 'https://apis.iolab.sk/auth/login'
    	    })
        </script>

    </body>
</html>
